<div ng-controller="RsvpCtrl">

  <div class="page-header text-center">
    <h1><span class="fa fa-check-square-o"></span> RSVP</h1>
    <a href="/signout" class="btn btn-default btn-sm">Sign out</a>
  </div>

  <div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> Your details</h3>

          <p>
            <strong>username</strong>: <%= user.username %><br>
            <strong>email</strong>: <%= user.email %><br>

            <strong>rsvp ceremony</strong>: <%= user.rsvp.ceremony %><br>
            <strong>rsvp reception</strong>: <%= user.rsvp.reception %><br>
            <strong>rsvp party</strong>: <%= user.rsvp.party %><br>

          </p>

      </div>
    </div>

    <div class="col-sm-6">
      <form action="/rsvp" method="post">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email">
        </div>

        <h3>RSVP</h3>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ceremony"> Attending ceremony
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="reception"> Attending reception
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="party"> Attending party
          </label>
        </div>


        <button type="submit" class="btn btn-warning btn-sm">Update</button>
      </form>
    </div>

  </div>
</div> <!-- /end RsvpCtrl -->
